$color-brand: #ffeedd;

$color-bkg-light: #fff;

$color-text: #1b2c3e;
$color-text-light: #fefefe;

$color-error-code: #ddd;
$color-input-border: #ddd;

$color-btn-main: #f0f0f0;
$color-btn-2nd: #f0f0f0;
$color-btn-warn: #FF5A5A;

$color-btn-shadow: #fff;